<!DOCTYPE html>
<html lang="{{.Page.Language | default "en"}}">
{{ partial "header.html" . }}
<body>
  {{ if and .Site.Params.navbar (ne .Params.navbar false) }}
    {{- partial "navbar.html" . }}
  {{ end }}
  {{- if or (.Params.app) (in .Site.Params.apps .Type) }}
    {{- .Scratch.Set "components" .Pages -}}
    {{- if .Params.script -}}
      {{- .Scratch.Set "components" (where .Pages "TranslationBaseName" "ne" .Params.script) -}}
    {{- end -}}
    {{- range $frag := (.Scratch.Get "components").ByWeight }}
    {{ $frag.Content }}
    {{- end }}
    {{- if .Params.script }}
      {{- with .Site.GetPage "page" .Type (printf "%s.html" .Params.script) }}
      {{ .Content }}
      {{- end }}
    {{- end }}
  {{- else }}
  {{ partial "single-section.html" . }}
  {{- end }}
  {{- partial "footer.html" . -}}
</body>
</html>