<!DOCTYPE html>
<html lang="{{.Page.Language | default "en"}}">
{{ partial "header.html" . }}
<body>
  {{ if (eq .Kind "section") }}
    {{ if .Site.Params.navbar }}
      {{- partial "navbar.html" . -}}
    {{ end }}
    {{ range (where .Pages "TranslationBaseName" "ne" "_script").ByWeight }}
      {{ .Content }}
    {{ end }}
    {{ if .Site.Params.contentScript }}
      {{ with .Site.GetPage "page" .Type "_script.html" }}
        {{ .Content }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{- partial "footer.html" . -}}
</body>
</html>