<nav class="navbar{{with .Site.Params.navbarClass}} {{.}}{{end}}" role="navigation">
  <div class="navbar-brand">
    <a href="{{.Site.BaseURL}}" class="navbar-item">
      <span style="font-size: 1.1rem;">{{ .Site.Title }}</span>
    </a>
    <button class="button navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
    {{- if .Site.Params.generateMenu }}
      {{ $site := .Site }}
      {{ $scratch := .Scratch }}
      {{- $scratch.Set "menus" (where (slice $site.Home) "IsHome" false) -}}
      {{- range $section := (where $site.Pages "Kind" "section") -}}
        {{- $isApp := or ($section.Params.app) (in $site.Params.app $section.Section) -}}
        {{- if (eq $section.Parent.IsHome false) -}}
          {{- $childMenuKey := (printf "child_%s" $section.Section) -}}
          {{- $children := union (slice $section) ($scratch.Get $childMenuKey) -}}
          {{- $scratch.Set $childMenuKey $children -}}
        {{- else -}}
          {{- $scratch.Add "menus" $section -}}
        {{- end -}}
      {{- end -}}
      {{- range $index, $menu := $scratch.Get "menus" }}
        {{- $menuKey := (printf "child_%s" $menu.Section) -}}
        {{- if $scratch.Get $menuKey }}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="{{$menu.URL}}">{{ $menu.Title }}</a>
          <div class="navbar-dropdown">
          {{- range $child := $scratch.Get $menuKey }}
            <a href="{{$child.URL}}" class="navbar-item">{{ $child.Title }}</a>
          {{- end }}
          </div>
        </div>
        {{- else }}
        <a href="{{$menu.URL}}" class="navbar-item">{{ $menu.Title }}</a>
        {{- end }}
      {{- end }}
    {{- end }}
    </div>
    <div class="navbar-end">
    </div>
  </div>
</nav>