<nav class="navbar{{with .Site.Params.navbarClass}} {{.}}{{end}}" role="navigation">
  <div class="navbar-brand">
    <a href="{{.Site.BaseURL}}" class="navbar-item">
      <span style="font-size: 1.1rem;">{{ .Site.Title }}</span>
    </a>
    <button class="button navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      {{- $menus := .Site.Menus -}}
      {{- with .Site.Params.generateMenu }}
      {{- range $entry := (index $menus .) }}
      {{- if $entry.Children }}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="{{$entry.URL}}">{{ $entry.Name }}</a>
        <div class="navbar-dropdown">
        {{- range $child := $entry.Children }}
          <a href="{{$child.URL}}" class="navbar-item">{{ $child.Name }}</a>
        {{- end }}
      </div>
      {{- else }}
      <a href="{{$entry.URL}}" class="navbar-item">{{ $entry.Name }}</a>
      {{- end }}
      {{- end }}
      {{- end }}
    </div>
    <div class="navbar-end">
    </div>
  </div>
</nav>