{{- $body := htmlUnescape (trim .Inner "\n") -}}
{{- if .Get "column" }}
<div class="columns">
  <div class="column">
    <div>
      <pre>
        {{- if .Get "lang" }}
        <code class="{{printf "language-%s" (.Get "lang")}}">{{ $body }}</code>
        {{- else }}
        <code>{{ $body }}</code>
        {{- end }}
      </pre>
    </div>
  </div>
  <div class="column">
    {{ .Inner }}
  </div>
</div>
{{- else }}
<div>
  <pre>
    {{- if .Get "lang" }}
    <code class="{{printf "language-%s" (.Get "lang")}}">{{ $body }}</code>
    {{- else }}
    <code>{{ $body }}</code>
    {{- end }}
  </pre>
  {{ .Inner }}
</div>
{{- end }}