{{- $body := htmlUnescape (trim .Inner "\n") -}}
{{- if .Get "column" }}
<div class="columns">
  <div class="column">
    <div>
      {{ template "sample-code" dict "body" $body }}
    </div>
  </div>
  <div class="column">
    {{ .Inner }}
  </div>
</div>
{{- else }}
<div>
  {{ template "sample-code" dict "body" $body }}
  {{ .Inner }}
</div>
{{- end }}

{{- define "sample-code" -}}
<pre>
  {{- if .lang -}}
  <code class="language-html">{{- .body -}}</code>
  {{- else -}}
  <code>{{ .body }}</code>
  {{- end -}}
</pre>
{{- end -}}